################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/2DTruss单元/.vs/2DTruss单元/v15
/2D欧拉-伯努利梁单元
